/*
余白をなくす
--------------------------------------------------------------------------------
*/
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}
/*
--------------------------------------------------------------------------------
ヘッダーメニュー
--------------------------------------------------------------------------------*/
header{
  background-color: #89c3eb;
  float:left;
  width:100%;
  position: fixed;
  z-index: 10;
  opacity: 0.8;
}

.header-logo{
  font-family: 'Jockey One', sans-serif;
  font-size: 50px;
  float: left;
  padding-left:40px;
  color:#d7003a;
}
.header-logo a:link, a:visited{
  text-decoration: none;
  color: #d7003a;
}

.header-menu{
  float: left;
  background-color: #89c3eb;
  float:right;
  font-size: 16px
}
.header-menu li{
   list-style: none;
   float:left;
   padding:10px;
   font-family: Impact;
   margin-right:10px;
   margin-top:20px;
 }
 .header-menu a{
    text-decoration: none ;
  }
 .header-menu a:link{
   color:white;
 }
 .header-menu a:visited{
   color: white;
 }
 .header-menu a:active{
   color:#ed6d3d;
 }
 /*
 -------------------------------------------------------------------------------
 メインコンテンツ
 -------------------------------------------------------------------------------
 */
 body{
   text-decoration: none;
   background-image: url(Sun.JPG);
   background-size: cover;
}
.main-contents{
  height: auto;
  margin: 0 auto;
  width:75%;
  padding-top: 135px;
  margin-bottom:40px;
}

.main-contents a{
  text-decoration: none;
}
.main-contents a:link{
  color: #2ca9e1;
}
.main-contents a:visited{
  color: #9e3d3f;
}

.purpose{
  text-align: center;
}

.update{
  border-bottom: 1px solid blue;
  border-left: 1px solid blue;
  border-right:1px solid blue;
  height:auto;
  margin-bottom: 20px;
}
.update-info{
  border: 1px solid blue;
  margin-top: 20px;
}

.topics{
  border-bottom: 1px solid red;
}
.topics-title{
  border-bottom: 1px solid red;
}



/*
-------------------------------------------------------------------------------
フッターメニュー
-------------------------------------------------------------------------------
*/
footer{
  background-color: #223a70;
  height: 160px;
  width:100%;
}

.footer-logo{
  font-family: 'Jockey One', sans-serif;
  font-size: 30px;
  float: left;
  padding-left:40px;
  color:#d7003a;
  padding-top:8px;
}
.footer-logo a:link, a:visited{
  text-decoration: none;
  color: #d7003a;
}

 .footer-menu{
   font-size: 12px;
   float:right;
   color:white;
   padding:6px;
 }
 .footer-menu li{
   list-style:none;
   padding-top:2px;
   padding-right:7px;
 }
 .footer-menu a{
   text-decoration: none ;
 }
 .footer-menu a:link{
   color:white;
 }
 .footer-menu a:visited{
   color:white;
 }
 .footer-menu a:active{
   color:#ed6d3d;
 }
 /*
 -------------------------------------------------------------------------------
 汎用コード
 -------------------------------------------------------------------------------
 */

 .head-line{
   text-align: center;
   font-size: 20px;
   border-top: 1px solid black;
   border-bottom: 1px solid black;
 }
 /*上下が直線に囲まれた，見出し的なものを出力します*/

 /*
 -------------------------------------------------------------------------------
 */
