html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

header{
  width:100%;
  opacity: 0.9;
  background-image: url("images/leader.jpeg");
  background-size: cover;
}

.header-logo{
  font-family: 'Jockey One', sans-serif;
  float: left;
}
.header-logo a:link, a:visited{
  text-decoration: none;
}

.header-menu{
  float:right;
  font-size: 16px;
}

.header-menu li{
   list-style: none;
   float:left;
   padding:10px;
   font-family: Impact;
   margin-right:10px;
   margin-top:20px;
 }

 .header-menu a{
    text-decoration: none ;
  }

 body{
   text-decoration: none;
}

.main-contents{
  height: auto;
  margin: 0 auto;
  width:75%;
  margin-top: 40px;
  margin-bottom:40px;
}

.blog_content{
  list-style:none;
}


#header-title{
  text-align: center;
  padding: 150px;
  color: white;
  font-size: 50px
}





footer{
  width:100%;
  background-image: url("images/Napoleon.jpeg");
  background-size: cover;
}

.footer-logo{
  font-family: 'Jockey One', sans-serif;
  font-size: 30px;
  float: left;
  padding-left:40px;
  padding-top:8px;
}
.footer-logo a:link, a:visited{
  text-decoration: none;
}

 .footer-menu{
   font-size: 14px;
   float:right;
   padding:6px;
 }
 .footer-menu li{
   list-style:none;
   padding-top:2px;
   padding-right:7px;
 }
 .footer-menu a{
   text-decoration: none ;
 }
 /*
 -------------------------------------------------------------------------------
 汎用コード
 -------------------------------------------------------------------------------
 */

 .date{
   text-align: left;
   font-size: 15px;
 }

 .title{
   font-size: 25px;
   text-align: center;
   margin: 15px;
 }

 .head-line-A{
   text-align: center;
   font-size: 20px;
 }

 .head-line-B{
   font-size: 20px;
 }

 .head-line-C{
   font-size: 17px;
   margin-top:10px;
   padding: 10px;
 }



.centering{
  text-align: center;
}

.creation{
  border: 1px solid black;
  padding:20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
}


.btn {
  display: inline-block;
  cursor: pointer;
  padding: 12px 80px;
  background-color: #5dca88;
  box-shadow: 0px 5px #279C56;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  margin-bottom: 10px;
}

.rindou{
  padding: 5px;
  border-radius:10px;
}


.btn:active {
  position: relative;
  top: 5px;
  box-shadow: none;
}

#text-hided{
  display: none;
}

.here{
  cursor: pointer;
}

.login{
  cursor: pointer;
}

.pointer{
  cursor: pointer;
}



.login-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display:none;
}

.modal {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
}

.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

#signup-form, #login-form {
  width: 100%;
}

#signup-form h2, #login-form h2 {
  color: #5f5d60;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

#signup-form input, #login-form input {
  width: 320px;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 12px 12px;
  border: 1px solid #d0d5d8;
  border-radius: 5px;
}

#submit-btn {
  display: inline-block;
  padding: 14px 140px;
  background-color: #5dca88;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 10px auto;
  cursor: pointer;
}

.name{
  font-style: italic;
  color:#9079ad;
}


.theme-list{
  list-style: none;
}

.hover-series{
  list-style:none;
  display: flex;
}
.hover-series li{
  width: 28%;
  text-align: center;
  margin: 5px;
}

.series-text{
  margin-top: 5px;
  display: none;
}

.text-active{
  display:block;
}



.faq-list-item {
  margin:10px;
  position:relative;
  cursor:pointer;
  text-align: left;
}

.faq-list-item h3 {
  font-size: 14px;
}

.faq-list-item span {
  position:absolute;
  top:0;
  right:5px;
  font-size:13px;

}

.answer {
  font-size: 12px;
  padding: 5px 0px;
  margin-bottom: 15px;
  display:none;

}

#faq-list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.btn-ex{
  color:red;
}


.thumnail{
  width: 75%;
}

.thumnail-pare{
    text-align: center;
    margin-bottom: 30px 0;;
}

.topic-update{
    margin: 30px 0;
}

.update{
  border-bottom: 1px solid  #2ca9e1;
  border-left: 1px solid  #2ca9e1;
  border-right:1px solid  #2ca9e1;
  height:auto;
  padding:5px 10px;
}
.update-info{
  border: 1px solid  #2ca9e1;
  padding:5px 10px;
}

.topics{
  border-bottom: 1px solid #d7003a;
}
.topics-title{
  border-bottom: 1px solid #d7003a;
}

.purpose{
  text-align: center;
}

.trouble{
  border: 1px #2ca9e1 solid;
  margin: 30px 0;
  padding:5px 10px;
  border-radius: 20px;
}

.comment-out{
  border: 1px #d7003a solid;
  border-radius: 10px;
  padding: 2px;
}

.new{
  font-style: italic;
  color: red;
}

@media screen and (min-width: 481px){ 
  header{
    height: 400px;
  }
  .header-logo{
  font-size: 50px;
  padding-left:40px;
  }
  footer{
    height: 320px;
  }
}

@media screen and (max-width: 480px){ 
  header{
    height: 200px;
  }
  .header-logo{
  font-size: 30px;
  padding-left:20px;
}
footer{
  height:160px;
}
}
